{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--<header class="row">-->
  <div class="box logo-text-box1"
         {% if LANGUAGE_CODE == "en" %}
            <!-- style="padding-bottom: 11em;" -->
         {% endif %}
    >
      <h1>
        <!--<a class="logo" href="{% url 'homepage:index' %}"></a>-->
        <span class="logo-text">{% trans "Datateknologsektionen" %}<br />
        <small>{% trans "Chalmers Studentkår" %}</small></span>
      </h1>
    </div>
<!--</header>-->
</div>
